{% extends 'listings/base.html' %}

{% block content %}

<h1>A propos de nous</h1>

<p>OpenClassrooms est un site web de formation en ligne, créé en 1999 sous le nom de Site du Zéro. </p>

<p>Il propose à ses membres des cours certifiants et des parcours débouchant sur des métiers en croissance.</p>

<p>Initialement orientée autour de la programmation informatique, la plate-forme numérique couvre, depuis 2013, d'autres thématiques telles que l'entrepreneuriat et le marketing électronique.</p>

<p>Ses formations sont dispensées selon le format MOOC. </p>

{% endblock %}
