{% extends 'listings/base.html' %}

{% block content %}

<h2>{{title.name_title}}</h2>

<ul>
    <li>Description : {{title.description}}</li>
    <li>Année : {{title.year}}</li>
    <li>Type : {{title.get_type_display}}</li>
    <li>Vendu : {{title.sold|yesno}}</li>
    <li>Groupe : {{title.band}}</li>
</ul>

<div class="option">
    <a href="{% url 'listings-change' title.id %}">Modifier cette annonce</a>

    <a href="{% url 'listings-delete' title.id %}">Supprimer cette annonce</a>

    <a href="{% url 'listings-list' %}">Retour vers les annonces disponibles</a>
</div>


{% endblock %}