* {
    background: #7ac0f3;
    padding-top:15px;
    padding-left: 15px;
}

.liste {
    padding-left: 80px;
}

h1, h2 {
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}

li {
    font-size: 20px;
}

p {
    font-size: 20px;
}